/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

  
.panel-primary,.panel-red,.panel-yellow,.panel-green,.panel-success, .panel-danger {
    border-color: #eeeeee;
}


.r_prescription {
    padding: 5px;
    height: 100px;
    overflow: hidden;
}
#msg{
    z-index: 50;
}
.logo {
    margin: 0 auto;
    display: table;
}
.btn {
    margin: 5px;
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
.login-panel{
      margin-top: 10%;
}
.form-container {
    padding: 10px;
    width: 250px;
    margin: 20px auto 5px;
    background: rgba(238, 238, 238, 0.33);
    border: 1px solid #eee;
}
.event-form-container {
    padding: 10px;
    width: 55%;
    margin: 20px auto 5px;
    background: rgba(238, 238, 238, 0.33);
    border: 1px solid #eee;
}

input[type="file"]::-webkit-file-upload-button{
        border: 1px dashed #eee;
    	padding: 10px;
    	background-color: white;
}


@media print {
  .btn { display: none }
  #issued_presc{display:none}
  #pending_h1{display: none}
}